body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.centreDiv {
  white-space: nowrap;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
